**Hypothesis**: University towns have their mean housing prices less affected by recessions. This notebook will run a t-test to compare the ratio of the mean house prices in university towns the quarter before the recession starts compared to the recession bottom. 

The following data files are used here:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. I will use the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```.

In [6]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

In [69]:
import pandas as pd
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

def remove_brackets(data):
    if "(" in data:
        index = data.index("(")
        data = data[:index-1]
    return data  
def remove_square(data):
    if "[" in data:
        index = data.index("[")
        data = data[:index]
    return data
def get_states(data):
    if "[" in data:
        index = data.index("[")
        return data[:index]
    else:
        return None
    
def get_list_of_university_towns():
    # Returns a DataFrame of towns and the states they are in from the 
    # university_towns.txt 
    
    city_homes = pd.read_csv("City_Zhvi_AllHomes.csv")
    # university_towns.txt is a file with all university towns and states in the US, copied and pasted from Wikipedia
    uni_towns = pd.DataFrame(pd.read_table("university_towns.txt", encoding="cp1252", error_bad_lines=False, names=["Data"]))
    uni_towns["Data"] = uni_towns["Data"].apply(remove_brackets)
    # only the states still have square brackets
    states = pd.DataFrame(uni_towns["Data"].apply(get_states).fillna(value=None, method='ffill'))
    uni_towns["Data"] = uni_towns["Data"].apply(remove_square)
    merged = pd.merge(states, uni_towns, how="outer", left_index=True, right_index=True)
    new_merged = merged.where(merged["Data_x"] != merged["Data_y"]).dropna()
    states_and_regions = new_merged.rename(columns={"Data_x": "State", "Data_y": "RegionName"})
   
    return states_and_regions

get_list_of_university_towns()

              State        RegionName
2           Alabama            Auburn
3           Alabama        Birmingham
4           Alabama            Dothan
5           Alabama          Florence
6           Alabama          Homewood
7           Alabama        Huntsville
8           Alabama      Jacksonville
9           Alabama        Livingston
10          Alabama            Mobile
11          Alabama        Montevallo
12          Alabama        Montgomery
13          Alabama              Troy
14          Alabama        Tuscaloosa
15          Alabama          Tuskegee
18        Anchorage         Fairbanks
19        Anchorage            Juneau
20        Anchorage         Ketchikan
21        Anchorage             Sitka
24         Chandler         Flagstaff
27         Glendale  Lake Havasu City
31          Phoenix          Prescott
33       Scottsdale             Tempe
34       Scottsdale            Tucson
36         Arkansas       Arkadelphia
37         Arkansas            Conway
38         Arkansas      Fayetteville
39         Arkansas        Fort Smith
40         Arkansas         Jonesboro
42      Little Rock          Magnolia
43      Little Rock        Monticello
...             ...               ...
977   West Virginia            Athens
978   West Virginia           Beckley
979   West Virginia        Buckhannon
980   West Virginia        Charleston
981   West Virginia            Elkins
982   West Virginia          Fairmont
983   West Virginia         Glenville
984   West Virginia        Huntington
985   West Virginia         Institute
986   West Virginia         Lewisburg
987   West Virginia        Montgomery
988   West Virginia        Morgantown
989   West Virginia     Shepherdstown
990   West Virginia  South Charleston
991   West Virginia      West Liberty
993       Wisconsin          Appleton
994       Wisconsin        Eau Claire
995       Wisconsin         Green Bay
996       Wisconsin           Kenosha
997       Wisconsin         La Crosse
998       Wisconsin           Madison
999       Wisconsin         Menomonie
1000      Wisconsin         Milwaukee
1001      Wisconsin           Oshkosh
1002      Wisconsin       Platteville
1003      Wisconsin       River Falls
1004      Wisconsin     Stevens Point
1005      Wisconsin          Waukesha
1006      Wisconsin        Whitewater
1008        Wyoming           Laramie

[920 rows x 2 columns]

In [70]:
def gdp_data_to_list():
    GDP = pd.DataFrame(pd.read_excel("gdplev.xls"))
    gdp_quarterly = GDP[["Unnamed: 4", "Unnamed: 5"]].rename(columns={"Unnamed: 4": "Quarter", "Unnamed: 5": "GDP"})
    gdp_quarterly = gdp_quarterly.iloc[7:, :]
    gdp_list = gdp_quarterly["GDP"].tolist()
    quarter_list = gdp_quarterly["Quarter"].tolist()
    return gdp_list, quarter_list

In [71]:
def get_quarter_before_recession_start():
    # Returns the year and quarter of the quarter BEFORE the recession start
    
    gdp_list, quarter_list = gdp_data_to_list()
    index = quarter_list.index("2000q1")
    # start from 2000q1
    quarter_list = quarter_list[index:]
    gdp_list = gdp_list[index:]
    for i in range(3,len(gdp_list)):
        # get the first instance where GDP drops for 2 consecutive quarters and return the year and quarter when it started
        if (gdp_list[i] < gdp_list[i-1]) and (gdp_list[i-1] < gdp_list[i-2]):
             recession = quarter_list[i-3]
             break
    return recession

get_quarter_before_recession_start()

'2008q2'

In [72]:
def get_recession_end():
    # Returns the year and quarter of the recession end
 
    gdp_list, quarter_list = gdp_data_to_list()
    index = quarter_list.index("2000q1")
    quarter_list = quarter_list[index:]
    gdp_list = gdp_list[index:]
    recession_start = get_recession_start()
    
    for i in range(quarter_list.index(recession_start)+2,len(quarter_list)):
        if (gdp_list[i] > gdp_list[i-1]) and (gdp_list[i-1] > gdp_list[i-2]):
                recession = quarter_list[i]
                break
                
    return recession
get_recession_end()

'2009q4'

In [73]:
def get_recession_bottom():
    # Returns the year and quarter of the recession bottom
    gdp_list, quarter_list = gdp_data_to_list()
    index = quarter_list.index("2000q1")
    quarter_list = quarter_list[index:]
    gdp_list = gdp_list[index:]
    
    recession_start = get_recession_start()
    recession_end = get_recession_end()
    recession_bottom = quarter_list[gdp_list.index(min(gdp_list[quarter_list.index(recession_start):quarter_list.index(recession_end)]))]
    
    return recession_bottom

get_recession_bottom()

'2009q2'

In [74]:
def convert_housing_data_to_quarters():
    '''Converts the housing data to quarters and returns it as mean 
    values in a dataframe.
    '''
    univerity_towns = get_list_of_university_towns()
    housing_data = pd.read_csv("City_Zhvi_AllHomes.csv")
    housing_data = housing_data.drop(["RegionID", "Metro", "SizeRank", "CountyName"], axis=1)
    housing_data = housing_data.set_index("State").sort_index().reset_index().set_index(["State", "RegionName"])
    housing_data = housing_data.drop(housing_data.columns[0:45], axis=1)
    housing_data.columns = pd.to_datetime(housing_data.columns)
    housing_data = housing_data.resample("Q", axis=1).mean()
    housing_data = housing_data.rename(columns=lambda col: "{}q{}".format(col.year,col.quarter))
    housing_data = housing_data.rename(index=states)
    return housing_data
convert_housing_data_to_quarters()

                                       2000q1         2000q2         2000q3  \
State         RegionName
Alaska        Kodiak                      NaN            NaN            NaN
              Anchorage         174633.333333  175266.666667  179566.666667
              Tanaina           160500.000000  163500.000000  166366.666667
              Seward            136833.333333  139366.666667  143133.333333
              Palmer            168766.666667  170566.666667  174233.333333
              Anchor Point                NaN            NaN            NaN
              Fairbanks         163200.000000  165033.333333  169300.000000
              Ketchikan                   NaN            NaN            NaN
              North Pole        157466.666667  159100.000000  162133.333333
              Juneau            192466.666667  194300.000000  195166.666667
              Lakes             172733.333333  174133.333333  177266.666667
              Kenai                       NaN            NaN            NaN
Alabama       Fosters           107500.000000  110200.000000  111400.000000
              Columbiana         73800.000000   75433.333333   75933.333333
              Riverside         139200.000000  138633.333333  145433.333333
              Spanish Fort      171966.666667  172233.333333  173600.000000
              Helena            131100.000000  133066.666667  132533.333333
              Gulf Shores       156500.000000  158900.000000  165700.000000
              Coden              62600.000000   64800.000000   66866.666667
              Ashville          105300.000000  102433.333333  101333.333333
              Adamsville         69033.333333   69166.666667   69800.000000
              Morris            124066.666667  124500.000000  124233.333333
              Hoover            184966.666667  186366.666667  187200.000000
              Hueytown           76000.000000   76866.666667   77966.666667
              Saraland           76533.333333   78933.333333   80466.666667
              Robertsdale        86833.333333   87666.666667   89000.000000
              Pelham            132766.666667  134633.333333  135100.000000
              Steele             87633.333333   88200.000000   90366.666667
              Vestavia Hills    190733.333333  192600.000000  195566.666667
              Harpersville                NaN            NaN            NaN
...                                       ...            ...            ...
Wisconsin     Town of Sharon     83900.000000   78733.333333   75033.333333
              Baldwin                     NaN            NaN            NaN
              Nekimi            102866.666667  106166.666667  111700.000000
West Virginia Nitro                       NaN            NaN            NaN
              Eskdale                     NaN            NaN            NaN
              Coal Fork                   NaN            NaN            NaN
              Clendenin                   NaN            NaN            NaN
              Dunbar                      NaN            NaN            NaN
              Upper Falls        53033.333333   52333.333333   52100.000000
              South Charleston   65600.000000   66566.666667   67433.333333
              Marmet                      NaN            NaN            NaN
              Belle              51066.666667   51300.000000   52200.000000
              Cedar Grove                 NaN            NaN            NaN
              Saint Albans       63833.333333   64700.000000   65200.000000
              Elkview            55566.666667   56133.333333   55500.000000
              Cross Lanes        78133.333333   78066.666667   79233.333333
              Charleston         59533.333333   59366.666667   59366.666667
              Sissonville                 NaN            NaN            NaN
              Chesapeake                  NaN            NaN            NaN
              Fairview                    NaN            NaN            NaN
Wyoming       Burns             101533.333333  104566.666667  108366.666667
              Casper             89233.333333   89600.000000   89733.333333
              Riverton                    NaN            NaN            NaN
              Evansville        128033.333333  128766.666667  130866.666667
              Dubois                      NaN            NaN            NaN
              Lander                      NaN            NaN            NaN
              Pine Bluffs        93733.333333   95066.666667   94633.333333
              Rawlins                     NaN            NaN            NaN
              Cheyenne          116866.666667  120033.333333  121533.333333
              Bar Nunn           93033.333333   89666.666667   88900.000000

                                       2000q4         2001q1         2001q2  \
State         RegionName
Alaska        Kodiak                      NaN            NaN            NaN
              Anchorage         182833.333333  182766.666667  183933.333333
              Tanaina           168033.333333  158766.666667  149200.000000
              Seward            144300.000000  139800.000000  140733.333333
              Palmer            175533.333333  169466.666667  163233.333333
              Anchor Point                NaN            NaN            NaN
              Fairbanks         172800.000000  164433.333333  157800.000000
              Ketchikan                   NaN            NaN            NaN
              North Pole        165500.000000  159433.333333  149766.666667
              Juneau            194166.666667  197166.666667  199533.333333
              Lakes             179133.333333  172400.000000  166000.000000
              Kenai                       NaN            NaN            NaN
Alabama       Fosters           115700.000000  114200.000000  113000.000000
              Columbiana         76533.333333   79266.666667   82533.333333
              Riverside         147800.000000  148733.333333  151200.000000
              Spanish Fort      173066.666667  176100.000000  175200.000000
              Helena            133200.000000  133166.666667  135233.333333
              Gulf Shores       165133.333333  172600.000000  176400.000000
              Coden              68566.666667   68933.333333   71300.000000
              Ashville           98600.000000  101433.333333  105866.666667
              Adamsville         71966.666667   73466.666667   74000.000000
              Morris            125800.000000  125566.666667  124966.666667
              Hoover            189200.000000  190766.666667  192300.000000
              Hueytown           79700.000000   81200.000000   81200.000000
              Saraland           80533.333333   80800.000000   81300.000000
              Robertsdale        91100.000000   94366.666667   95766.666667
              Pelham            135133.333333  135366.666667  137233.333333
              Steele             84400.000000   86466.666667   87433.333333
              Vestavia Hills    198833.333333  200800.000000  202400.000000
              Harpersville                NaN            NaN            NaN
...                                       ...            ...            ...
Wisconsin     Town of Sharon     74733.333333   78533.333333   83266.666667
              Baldwin                     NaN            NaN            NaN
              Nekimi            116366.666667  120666.666667  124600.000000
West Virginia Nitro                       NaN            NaN            NaN
              Eskdale                     NaN            NaN            NaN
              Coal Fork                   NaN            NaN            NaN
              Clendenin                   NaN            NaN            NaN
              Dunbar                      NaN            NaN            NaN
              Upper Falls        50900.000000   50366.666667   49766.666667
              South Charleston   68700.000000   69300.000000   70266.666667
              Marmet                      NaN            NaN            NaN
              Belle              51166.666667   51266.666667   51966.666667
              Cedar Grove                 NaN   44700.000000   42533.333333
              Saint Albans       65900.000000   66366.666667   66466.666667
              Elkview            52900.000000   51466.666667   50366.666667
              Cross Lanes        79466.666667   78800.000000   79366.666667
              Charleston         59633.333333   60400.000000   59866.666667
              Sissonville                 NaN            NaN            NaN
              Chesapeake                  NaN            NaN            NaN
              Fairview                    NaN            NaN            NaN
Wyoming       Burns             113000.000000  115833.333333  117200.000000
              Casper             93166.666667   95500.000000   97633.333333
              Riverton                    NaN            NaN            NaN
              Evansville        132066.666667  130566.666667  131433.333333
              Dubois                      NaN            NaN            NaN
              Lander                      NaN            NaN            NaN
              Pine Bluffs        98066.666667  103233.333333  104600.000000
              Rawlins                     NaN            NaN            NaN
              Cheyenne          123633.333333  125533.333333  126300.000000
              Bar Nunn           93500.000000   98833.333333   99900.000000

                                       2001q3         2001q4         2002q1  \
State         RegionName
Alaska        Kodiak                      NaN            NaN            NaN
              Anchorage         188566.666667  191866.666667  193966.666667
              Tanaina           150966.666667  151600.000000  153033.333333
              Seward            147166.666667  153466.666667  150666.666667
              Palmer            166933.333333  168933.333333  165300.000000
              Anchor Point                NaN            NaN            NaN
              Fairbanks         158200.000000  154666.666667  152766.666667
              Ketchikan                   NaN            NaN            NaN
              North Pole        151266.666667  151000.000000  150033.333333
              Juneau            202433.333333  206300.000000  209066.666667
              Lakes             169500.000000  170766.666667  168766.666667
              Kenai                       NaN            NaN            NaN
Alabama       Fosters           109766.666667  110200.000000  111166.666667
              Columbiana         82200.000000   80933.333333   81266.666667
              Riverside         144333.333333  143366.666667  146566.666667
              Spanish Fort      173566.666667  177100.000000  177766.666667
              Helena            137533.333333  136766.666667  135633.333333
              Gulf Shores       171866.666667  172400.000000  169033.333333
              Coden              72733.333333   73600.000000   72933.333333
              Ashville          109500.000000  110400.000000  111633.333333
              Adamsville         73333.333333   73100.000000   73333.333333
              Morris            125700.000000  126966.666667  127300.000000
              Hoover            192266.666667  192600.000000  193100.000000
              Hueytown           81733.333333   82433.333333   83000.000000
              Saraland           82033.333333   82900.000000   82466.666667
              Robertsdale        96066.666667   96766.666667   96400.000000
              Pelham            138933.333333  138100.000000  137866.666667
              Steele             89400.000000   90266.666667   93700.000000
              Vestavia Hills    200333.333333  202566.666667  207733.333333
              Harpersville                NaN            NaN            NaN
...                                       ...            ...            ...
Wisconsin     Town of Sharon     82866.666667   83366.666667   84866.666667
              Baldwin                     NaN            NaN            NaN
              Nekimi            126466.666667  129966.666667  128300.000000
West Virginia Nitro                       NaN            NaN            NaN
              Eskdale                     NaN            NaN            NaN
              Coal Fork          43350.000000   43200.000000   43466.666667
              Clendenin                   NaN            NaN            NaN
              Dunbar                      NaN            NaN            NaN
              Upper Falls        49700.000000   50500.000000   51433.333333
              South Charleston   68333.333333   66333.333333   64533.333333
              Marmet             47800.000000   46800.000000   46533.333333
              Belle              50166.666667   49333.333333   48666.666667
              Cedar Grove        34533.333333   33666.666667   33133.333333
              Saint Albans       67266.666667   66100.000000   64600.000000
              Elkview            49600.000000   51300.000000   53133.333333
              Cross Lanes        78100.000000   78766.666667   78733.333333
              Charleston         61000.000000   60766.666667   59000.000000
              Sissonville                 NaN            NaN            NaN
              Chesapeake         40550.000000   40433.333333   39633.333333
              Fairview                    NaN            NaN            NaN
Wyoming       Burns             117800.000000  117633.333333  117333.333333
              Casper             99433.333333  100633.333333  101733.333333
              Riverton                    NaN            NaN            NaN
              Evansville        132400.000000  133466.666667  133266.666667
              Dubois                      NaN            NaN            NaN
              Lander                      NaN            NaN            NaN
              Pine Bluffs       106500.000000  104066.666667  102200.000000
              Rawlins                     NaN            NaN            NaN
              Cheyenne          126466.666667  128133.333333  128466.666667
              Bar Nunn           99100.000000   98333.333333   98633.333333

                                       2002q2    ...            2015q2  \
State         RegionName                         ...
Alaska        Kodiak                      NaN    ...     259066.666667
              Anchorage         196700.000000    ...     288133.333333
              Tanaina           156100.000000    ...     216866.666667
              Seward            149033.333333    ...     192533.333333
              Palmer            164800.000000    ...     231433.333333
              Anchor Point                NaN    ...     162933.333333
              Fairbanks         154533.333333    ...     204966.666667
              Ketchikan                   NaN    ...     198633.333333
              North Pole        151866.666667    ...     200900.000000
              Juneau            209866.666667    ...     336233.333333
              Lakes             169900.000000    ...     235033.333333
              Kenai                       NaN    ...     202866.666667
Alabama       Fosters           111066.666667    ...     143233.333333
              Columbiana         86133.333333    ...     108433.333333
              Riverside         147000.000000    ...     176233.333333
              Spanish Fort      181533.333333    ...     240533.333333
              Helena            135566.666667    ...     162400.000000
              Gulf Shores       168766.666667    ...     219200.000000
              Coden              69100.000000    ...      81900.000000
              Ashville          109733.333333    ...     136466.666667
              Adamsville         73133.333333    ...      75366.666667
              Morris            128066.666667    ...     151800.000000
              Hoover            195900.000000    ...     249533.333333
              Hueytown           83433.333333    ...      86433.333333
              Saraland           80700.000000    ...     106900.000000
              Robertsdale        97300.000000    ...     129166.666667
              Pelham            139500.000000    ...     168966.666667
              Steele             91100.000000    ...     109500.000000
              Vestavia Hills    212166.666667    ...     304633.333333
              Harpersville                NaN    ...     135566.666667
...                                       ...    ...               ...
Wisconsin     Town of Sharon     86266.666667    ...     120500.000000
              Baldwin                     NaN    ...     158533.333333
              Nekimi            126700.000000    ...     169366.666667
West Virginia Nitro                       NaN    ...      89600.000000
              Eskdale                     NaN    ...      68533.333333
              Coal Fork          43666.666667    ...      67066.666667
              Clendenin                   NaN    ...      73666.666667
              Dunbar                      NaN    ...      74666.666667
              Upper Falls        53466.666667    ...      91833.333333
              South Charleston   64200.000000    ...     103100.000000
              Marmet             46000.000000    ...      64866.666667
              Belle              49633.333333    ...      73100.000000
              Cedar Grove        34800.000000    ...      70233.333333
              Saint Albans       63866.666667    ...      92100.000000
              Elkview            54933.333333    ...      94766.666667
              Cross Lanes        79100.000000    ...     122366.666667
              Charleston         58333.333333    ...      96066.666667
              Sissonville                 NaN    ...      94833.333333
              Chesapeake         38666.666667    ...      65500.000000
              Fairview                    NaN    ...     101266.666667
Wyoming       Burns             117233.333333    ...     177133.333333
              Casper            101533.333333    ...     184766.666667
              Riverton                    NaN    ...     159166.666667
              Evansville        131066.666667    ...     289600.000000
              Dubois                      NaN    ...     219533.333333
              Lander                      NaN    ...     187033.333333
              Pine Bluffs       103566.666667    ...     164600.000000
              Rawlins                     NaN    ...     147566.666667
              Cheyenne          129633.333333    ...     182066.666667
              Bar Nunn          100866.666667    ...     209200.000000

                                       2015q3         2015q4         2016q1  \
State         RegionName
Alaska        Kodiak            258700.000000  258066.666667  258600.000000
              Anchorage         291366.666667  292600.000000  294200.000000
              Tanaina           218100.000000  218666.666667  221700.000000
              Seward            194100.000000  197766.666667  202733.333333
              Palmer            237333.333333  240233.333333  242466.666667
              Anchor Point      166733.333333  165333.333333  167566.666667
              Fairbanks         205200.000000  207533.333333  207433.333333
              Ketchikan         198066.666667  197733.333333  198366.666667
              North Pole        203200.000000  205700.000000  205833.333333
              Juneau            324566.666667  318700.000000  319166.666667
              Lakes             239033.333333  241000.000000  243733.333333
              Kenai             205366.666667  207633.333333  210700.000000
Alabama       Fosters           141166.666667  141533.333333  137566.666667
              Columbiana        112766.666667  116733.333333  123533.333333
              Riverside         179400.000000  180866.666667  180466.666667

In [75]:
from scipy import stats
pd.options.mode.chained_assignment = None

def run_ttest():
    '''Run a ttest comparing housing prices in university towns and the non-university towns before the recession start
    and during the recession bottom. This function returns whether the alternative hypothesis (that the two groups are the same)
    is true or not as well as the p-value of the confidence. 
    
    Return the tuple with True if the t-test is true at p<0.01 (we reject the null hypothesis), or False if 
    otherwise (we cannot reject the null hypothesis). '''
    
    recession_start = get_quarter_before_recession_start()
    recession_bottom = get_recession_bottom()
    housing_data = convert_housing_data_to_quarters()
    university_towns = get_list_of_university_towns()
    housing_data_recession = housing_data[[recession_start, recession_bottom]]

    housing_data_recession["Difference"] = housing_data_recession[recession_start] - housing_data_recession[recession_bottom]
    university_towns["University"] = "Yes"
    university_towns = university_towns.set_index(["State", "RegionName"])
    merged = pd.merge(housing_data_recession, university_towns, how="right", left_index=True, right_index=True)

    university_ratio = (merged[recession_start]/merged[recession_bottom]).mean()
  
    university_difference = merged["Difference"].dropna()
    non_university_towns = housing_data_recession[~housing_data_recession.index.isin(university_towns.index)]
    non_university_difference = non_university_towns["Difference"].dropna()
    result = stats.ttest_ind(university_difference, non_university_difference)
    
    p_value = result[1]
    
    return (True, "p_value: {}".format(p_value)) if p_value < 0.01 else (False, "p_value: {}".format(p_value)) 

run_ttest()

(True, 'p_value: 0.0005130122669224749')